.section-img {
    max-width: 400px;
    max-height: 300px;
    min-height: 300px;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.about-section-row {
    align-items: start;
    flex-wrap: wrap;
    gap: 1rem;
}

.about-container {
    margin-right: 20%;
    margin-left: 20%;

    @media(max-width: 1050px) {
        margin-right: 5%;
        margin-left: 5%;
    }

    @media(max-width: 650px) {
        margin-right: 1%;
        margin-left: 1%;
    }
}