.app-layout {
    background-color: var(--bs-light);
    overflow: auto;
    width: 100vw;
    height: 100vh;    
}

.scroll-area {
    overflow-y: auto;
}

.app-header {
    background-color: teal;
    width: 100vw;
    height: 5rem;
    z-index: 999;
}

.app-content {
    padding: 5rem;
    min-height: calc(100vh - 5rem);
}

.app-footer {
    width: 100vw;
    min-height: 5rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}