.a-hero-holder {
    text-align: center;
}

.title {
    padding-bottom: 2rem;
}

.hero-break {
    border-style: solid;
    border-width: thin;
    border-color: #d2d2d2;
}

.desc {
    padding-bottom: 2rem;
    margin-inline: 15rem;
}

.image-frame {
    padding: 2rem 0 1rem 0;
}

.image-frame > img {
    width: 256px;
    height: 256px;
}