.section {
    padding: 1rem;
}

.heading {
    padding: 1rem;
}

.content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.right-content {
    width: 50%;
    padding: 1rem;

}

.left-content {
    min-width: 50%;
    padding: 1rem;
}

.section-break {
    border-style: solid;
    border-width: thin;
    border-color: #d2d2d2;
}