.app-layout {
    background-color: aquamarine;
    overflow: auto;
    width: 100vw;
    height: 200vh;    
}

.scroll-area {
    overflow-y: auto;
}

.app-header {
    background-color: teal;
    width: 100vw;
    height: 5rem;
}

.app-content {
    padding: 5rem;
    /* 100% - header hight - footer hight */
    height: calc(100vh - 5rem - 5rem);
}

.app-footer {
    background-color: blue;
    width: 100vw;
    min-height: 5rem;
    padding: 5rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}